<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hkia.sdk">

    <!-- Permissions required for passport MRZ NFC scanning and BagDrop camera -->
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <!-- Registered Activity for BagDrop flow -->
        <activity
            android:name="com.thaiairwaysapp.hkia.bagdrop.BagDropActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>
</manifest>
